body {
  font-family: Georgia, serif;
  background-color: #2f5aaa;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 550px;
  height: 350px;
  margin-right: 10px;
}

/* Add your own custom styles here */